.container{
}


nav{
  margin-left: 100px;
  margin-right:100px;
}
footer {
  background-color: white;
  height: 30px;
}



#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}
#button{
  
text-align: center;
width: 60px;
}

#main ,


#menu ,


#sidebar,

#main,
#menu,
#sidebar {
  background-color: #e9ebee;
  overflow: auto;
  height:600px;
}
#header {
    background-color: #4267b2;
    color: white;
    height:30px;
}
.navbar-brand
{
  padding: 7px;
}
.comment {
    margin: 0;
}
p {
	margin: 0 0 10px;
}
.image-post {
    margin-bottom: 15px;
}


li{
  display:inline;
}

.pull-right {
    float: right!important;
}
.list-heading {
    padding: 20px 15px 0 15px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
#main
{
  overflow: auto;
  height:600px;
  }
  #main::-webkit-scrollbar {
    display: none;
    overflow: auto;
    }
    .white-text {
      color: white !important;
    }
